* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: "站酷仓耳渔阳体-02";
    src: url("/font/TsangerYuYangT_W02_W02.ttf");
}

@font-face {
    font-family: "站酷仓耳渔阳体-03";
    src: url("/font/TsangerYuYangT_W03_W03.ttf");
}

@font-face {
    font-family: "站酷仓耳渔阳体-05";
    src: url("/font/TsangerYuYangT_W05_W05.ttf");
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #ffb11f;
}